[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python ./bootstrap.py"
start_worker = "python bootstrap_worker.py"
format = "black --line-length=100 ."
sanitize = "flake8 ."

[packages]
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"
sqlalchemy = "*"
asyncpg = "*"
alembic = "*"
pika = "*"
dramatiq = {extras = ["rabbitmq", "watch"], version = "*"}

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"
